{% extends "questions/layout.html" %}

{% load static %}

{% block main %}

<div class="card mb-3">
    <h3 class="card-header"><a href="{% url 'viewqn' qn.id %}">{{ qn.title }}</a></h3>
    <div class="card-body">
      <h5 class="card-title">{{ qn.content }}</h5>
      <h6 class="card-subtitle text-muted">Asked by: {{ qn.user }} ({{ qn.datetime_created }})</h6>
    </div>
    {% if qn.image %}
    <img class="img-responsive col-xs-6" src="{{ qn.image.url }}" alt="Card image">
    {% endif %}
</div>

<br>
<i class="fas fa-cog fa-3x fa-spin"></i>
<br><br>


<h3> <strong>Answers</strong></h3>

{% include 'common/message.html' %}

{% for ans in answers %}
<div class="container answer-list">

    <div class="row">
      <!-- https://stackoverflow.com/questions/42054637/webpage-is-not-mobile-friendly-not-responsive -->
      <div class="col-xs-6 col-lg-1 num-votes">
            <label for="up-icon" class="icon-label" id="up-label">100000000</label>
      </div>  
      <div class="col-xs-6 col-lg-1 votes">
            <i class="fas fa-arrow-alt-circle-up fa-2x" color: limegreen;" id="up-icon"></i>
            <i class="fas fa-arrow-alt-circle-down fa-2x" style="color: tomato;" id="down-icon"></i>
      </div>
      <div class="col-xs-12 col-lg-10">
        <div class="card border-secondary mb-3">
            <div class="card-body">
              <p class="card-text">{{ ans.content }}</p>
              <h6 class="card-subtitle mb-2 text-muted">Answered by: {{ ans.user }} ({{ ans.datetime_created }})</h6>

            </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <hr>



<form action="{% url 'submitans' qn.id %}" method="post">
    {% csrf_token %}
    {% for field in ansform %}
    <div class="form-group">
        Answer: {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit Answer</button>
</form>

<script src="{% static 'questions/question.js' %}"></script>

{% endblock %}