{% extends "questions/layout.html" %}

{% block main %}
    <div class="jumbotron">
    <h1 class="display-3">{{ user.username }}</h1>
    <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
    <hr class="my-4">
    <p>Questions asked: {{ user.userqns.count }}</p>
    <p>Answers posted: {{ user.userans.count }}</p>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" href="{% url 'index' %}" role="button">Back to Home</a>
    </p>
    </div>
{% endblock %}